<h3>Details for {{title}}:</h3>

{{#if result}}
    <table class="table">
    {{#each result}}
        <tr>
            <td>Title</td>
            <td>{{title}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{author}}</td>
        </tr>
        <tr>
            <td>Publishing Date</td>
            <td>{{pubDate}}</td>
        </tr>
    {{/each}}
    </table>
{{else}}
    <p>No books found</p>
{{/if}}

<a href="/">Back to Book List</a> | <a href="/delete?title={{result.title}}">Delete</a>